* {
    margin: 0;
    padding: 0;
    font-family: Raleway;
}
html{
    padding: 10px;
}
body{
    margin: auto;
    width: 90%;
    height: fit-content;
}
h3{
    margin-bottom: 5px;
}
div {
    margin-bottom: 10px;
}
input{
    margin-right: 15px;
    height: 30px;
    width: 300px;
}
a {
    text-decoration: none;
    color: black;
}
button {
    width: 100px;
    height: 35px;
}
.errorBox {
    color: red;
    display: none;
}
.console {
    width: 100%;
    margin-top: 10px;
    display: block;
}
.console div{
    display: block;
    margin-right: 10px;
}
.addConsole {
    margin: auto;
    margin-top: 10px;
    height: fit-content;
}
.verseConsole{
    height: fit-content;
    padding: 3px;
    width: 100%;
}
.verseConsole input{
    display: flex;
    height: 50px;
}
.showInput{
    display: block;
    flex: auto;
    height: fit-content;
    width: 100%;
    padding: 5px;
    margin-top: 10px;
}
.showInput div {
    margin-top: 3px;
}